In [19]:
import sys
sys.path.append('../../')

from IPython.core.display import display
import numpy as np
import pandas as pd
import networkx as nx
from sortedcontainers import SortedDict
import matplotlib.pyplot as plt
import seaborn as sns
from  matplotlib.ticker import PercentFormatter
import time

In [20]:
# import node embeddings
df = pd.read_csv(
    "./facebook_alpha-0.1_beta-0.1_ws-10_neg-5_lr-0.025_icom-36_ind-36_ds-0.0_d-2_type-BGMM_k-10.txt",
    sep="\t| ",
    header=None
)
df = df.rename(columns={0: 'node'})
df.set_index(['node'], inplace=True)

/Users/anton/miniconda3/envs/MT/lib/python3.6/site-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """

In [21]:
# import train
train = pd.read_csv("./facebook_train.csv", index_col=0)
# import test
test = pd.read_csv("./facebook_test.csv", index_col=['u', 'v'])

In [22]:
# import predicted labels
labels = pd.read_csv("./labels_pred_BGMM_d2_k10.txt", header=None)
labels = labels.rename(columns={0: 'label'})
labels.label = labels.astype(int)
labels

      label
0         3
1         3
2         3
3         3
4         3
...     ...
3959      0
3960      0
3961      0
3962      0
3963      0

[3964 rows x 1 columns]

In [23]:
df = df.join(labels)

In [24]:
# node embeddings
display(df.head())
display(df.describe())

# train df
display(train.head())
display(train.describe())

# test df
display(test.head())
display(test.describe())

             1         2  label
node
0    -6.034800  2.406848    3.0
1    -5.836558  2.331109    3.0
2    -5.208809  2.064520    3.0
3    -6.103177  2.438485    3.0
4    -5.338110  2.101189    3.0

                 1            2        label
count  3964.000000  3964.000000  3897.000000
mean     -2.523381    -1.661366     1.539389
std       2.086392     3.469893     1.296834
min      -8.339770    -9.368287     0.000000
25%      -3.757715    -5.167219     0.000000
50%      -1.553363    -0.370108     2.000000
75%      -1.062986     1.418120     3.000000
max      -0.205343     3.329211     3.000000

   u  v
0  0  1
1  0  2
2  0  3
3  0  4
4  0  5

                  u             v
count  86999.000000  86999.000000
mean    1865.069449   2154.507420
std      910.682085    894.143924
min        0.000000      1.000000
25%     1160.000000   1601.000000
50%     1983.000000   2259.000000
75%     2423.000000   2631.000000
max     4031.000000   4038.000000

        Unnamed: 0
u  v
0  276           0
9  21            1
21 281           2
25 141           3
26 9             4

        Unnamed: 0
count  1169.000000
mean    584.000000
std     337.605539
min       0.000000
25%     292.000000
50%     584.000000
75%     876.000000
max    1168.000000

In [25]:
def emb_from_row(row):
    """get node embedding np array from df row"""
    return row.drop('label').to_numpy().flatten()

def emb_distance(emb1, emb2):
    """computes the euclidean distance between two node embeddings"""
    return np.linalg.norm(emb1-emb2)

In [26]:
# get nx train graph
G_train = nx.from_pandas_edgelist(train, "u", "v")

In [ ]:
# compute Top-N lists for test dataset
# for each testing row
results = {}
results_com = {}
i = 1
start_time = time.time()
for index, _ in test.iterrows():
    userId = index[0]
    if not userId in df.index: continue
    user_emb = emb_from_row(df.loc[userId])
    user_label = df.loc[userId].label

    # get user's non_friends in user's community
    # users_in_community
    users_in_community = df[df.label == user_label]
    #print("len(users_in_community): ", len(users_in_community))
    # friends
    friends = list(G_train[userId])
    #print("len(friends): ", len(friends))
    # not_friends
    not_friends = df[~df.index.isin(friends+[userId])]
    #print("len(not_friends): ", len(not_friends))
    # not_friends_in_community
    not_friends_in_community = users_in_community[~users_in_community.index.isin(friends+[userId])]
    #print("len(not_friends_in_community): ", len(not_friends_in_community))

    # generate user's top_list from all not_friends
    distances = {}
    top_list = SortedDict()
    for movie_id, node_row in not_friends.iterrows():
        node_emb = emb_from_row(node_row)
        dist = emb_distance(user_emb, node_emb)
        top_list[dist] = movie_id
        distances[movie_id] = dist
    results[userId] = top_list, distances

    # generate user's top_list from all not_friends_in_community
    distances_com = {}
    top_list_com = SortedDict()
    for movie_id, node_row in not_friends_in_community.iterrows():
        node_emb = emb_from_row(node_row)
        dist = emb_distance(user_emb, node_emb)
        top_list_com[dist] = movie_id
        distances_com[movie_id] = dist
    results_com[userId] = top_list_com, distances_com

    if i % 10 == 0:
        elapsed_sec = (time.time() - start_time)
        elapsed_min = elapsed_sec / 60
        print(f"{i}/{len(test)} in {elapsed_min:.2f} min")
        print(f"  => done at {time.ctime(time.time() + (len(test)/i)*elapsed_sec)}")
    i += 1

10/1169 in 0.59 min
  => done at Tue Sep 29 16:49:22 2020
20/1169 in 0.98 min
  => done at Tue Sep 29 16:38:34 2020
30/1169 in 1.48 min
  => done at Tue Sep 29 16:39:29 2020

In [ ]:
Ns = []
hit_rates = []
hit_rates_com = []

for N in range(1, 101):

    # counters
    hits = 0
    misses = 0
    hits_com = 0
    misses_com = 0

    for userId in results.keys():
        top_list, _ = results[userId]
        top_list_com, _ = results_com[userId]
        # get Top-N friend suggestions
        top_N = top_list.values()[:N]
        top_N_com = top_list_com.values()[:N]
        # get user's test friend
        test_friend = test.query(f"u == {userId}").index.get_level_values('v')[0]
        # evaluate
        hit = test_friend in top_N
        if hit:
            hits += 1
        else:
            misses += 1
        hit_com = test_friend in top_N_com
        if hit_com:
            hits_com += 1
        else:
            misses_com += 1

        #print(f"Friend suggestion {test_friend} {'found' if hit else 'not found'} in user {userId}'s Top-{N} list: ", top_N)

    hit_rate = hits / (hits+misses)
    hit_rate_com = hits_com / (hits_com+misses_com)
    print(f"{N}: {hits}/{hits+misses} = {hit_rate}")
    print(f"{N}: {hits_com}/{hits_com+misses_com} = {hit_rate_com} (com)")

    Ns.append(N)
    hit_rates.append(hit_rate)
    hit_rates_com.append(hit_rate_com)

In [ ]:
hit_rate_df = pd.DataFrame(columns=Ns)

sns.set_style("darkgrid")

ax = sns.lineplot(x=Ns, y=hit_rates)
plt.plot(Ns, hit_rates_com)
ax.set(xlabel='N', ylabel='hit rate', ylim=(0, 1))#, xscale="log")
ax.yaxis.set_major_formatter(PercentFormatter(1))

fig = ax.get_figure()
fig.savefig("./hit_rates.png", format='png', dpi=1000)