In [55]:
import sys
sys.path.append('../../')

from IPython.core.display import display
import numpy as np
import pandas as pd
import networkx as nx
from sortedcontainers import SortedDict

In [56]:
# import node embeddings
df = pd.read_csv(
    "./facebook_alpha-0.1_beta-0.1_ws-10_neg-5_lr-0.025_icom-36_ind-36_k-10_ds-0.0.txt",
    sep="\t| ",
    header=None
)
df = df.rename(columns={0: 'node'})
df.set_index(['node'], inplace=True)

/Users/anton/miniconda3/envs/MT/lib/python3.6/site-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """

In [57]:
# import train
train = pd.read_csv("./facebook_train.csv", index_col=0)
# import test
test = pd.read_csv("./facebook_test.csv", index_col=['u', 'v'])

In [58]:
# node embeddings
display(df.head())
display(df.describe())

# train df
display(train.head())
display(train.describe())

# test df
display(test.head())
display(test.describe())

,1,2,3,4,5,6,7,8,9,10,...,119,120,121,122,123,124,125,126,127,128
node,,,,,,,,,,,,,,,,,,,,,
0,1.410215,1.055887,0.276106,0.337015,-0.855183,-2.079889,0.359319,-1.668620,0.876247,-1.597333,...,0.354289,-1.559046,-0.227659,0.615875,1.590270,-0.201614,-0.807248,0.872891,2.338391,0.422456
1,0.642537,0.210880,-0.079735,0.394628,-0.354652,-0.673384,-0.264542,-0.573317,0.387186,-0.928790,...,0.064035,-0.942434,-0.044016,0.357568,0.653752,-0.403103,-0.440986,0.245575,0.464131,0.173977
2,0.364444,0.483713,0.041530,-0.253252,-0.341561,-0.855875,0.262481,-0.731090,0.282645,-0.468689,...,0.558111,-0.349008,-0.063245,-0.019917,0.298720,0.008025,-0.167265,0.273740,0.909920,-0.209141
3,0.760110,0.369128,0.191771,0.325326,-0.209396,-0.604434,0.049080,-0.714295,0.193736,-0.875754,...,0.037971,-0.954742,-0.068425,0.373606,0.926925,-0.254449,-0.417411,0.377861,0.640826,0.327309
4,0.486993,0.028743,0.081050,-0.222652,-0.348967,-0.806270,0.705609,-0.529239,0.516686,-0.425610,...,0.268532,-0.495183,-0.013476,0.070995,0.500861,0.040166,0.071827,-0.117763,0.805720,-0.078896

,1,2,3,4,5,6,7,8,9,10,...,119,120,121,122,123,124,125,126,127,128
count,3964.000000,3964.000000,3964.000000,3964.000000,3964.000000,3964.000000,3964.000000,3964.000000,3964.000000,3964.000000,...,3964.000000,3964.000000,3964.000000,3964.000000,3964.000000,3964.000000,3964.000000,3964.000000,3964.000000,3964.000000
mean,0.245962,0.234974,-0.118125,-0.069435,0.130555,-0.061437,0.135782,0.032777,-0.030051,0.159000,...,-0.045179,-0.055033,0.093342,0.198299,-0.009326,0.003912,-0.083582,0.338404,-0.135958,-0.183193
std,0.285687,0.536587,0.349763,0.284315,0.373223,0.393623,0.279270,0.570081,0.695714,0.558243,...,0.270464,0.555397,0.396318,0.625316,0.704484,0.415985,0.439189,0.330743,0.820394,0.626242
min,-0.692461,-0.683688,-2.198696,-1.892806,-0.855183,-2.079889,-0.787928,-1.668620,-1.995587,-1.597333,...,-0.955414,-1.706021,-0.641542,-0.842246,-2.712219,-1.082921,-1.936546,-0.436558,-3.588310,-1.661151
25%,0.045890,-0.118894,-0.274778,-0.250238,-0.115985,-0.191114,-0.023315,-0.245293,-0.274042,-0.058783,...,-0.217145,-0.276742,-0.104644,-0.125527,-0.058614,-0.209601,-0.204926,0.128835,-0.166092,-0.516550
50%,0.216832,0.047774,-0.047532,-0.041141,0.087722,-0.021151,0.123140,0.022771,-0.021171,0.086926,...,-0.056054,-0.050763,0.030199,0.071797,0.098033,-0.045417,0.018314,0.277037,0.001256,-0.290211
75%,0.364162,0.408460,0.114134,0.123863,0.323650,0.151224,0.264197,0.197018,0.114206,0.230962,...,0.097052,0.143825,0.202780,0.274561,0.329461,0.191753,0.175263,0.440702,0.196135,-0.043263
max,1.410215,2.177685,0.673434,0.971740,1.719087,1.372390,1.184074,2.493209,2.639332,2.432325,...,0.912800,3.097754,3.346251,2.757494,1.590270,2.287718,0.639313,1.988750,2.338391,2.369749

   u  v
0  0  1
1  0  2
2  0  3
3  0  4
4  0  5

                  u             v
count  86999.000000  86999.000000
mean    1865.069449   2154.507420
std      910.682085    894.143924
min        0.000000      1.000000
25%     1160.000000   1601.000000
50%     1983.000000   2259.000000
75%     2423.000000   2631.000000
max     4031.000000   4038.000000

        Unnamed: 0
u  v
0  276           0
9  21            1
21 281           2
25 141           3
26 9             4

        Unnamed: 0
count  1169.000000
mean    584.000000
std     337.605539
min       0.000000
25%     292.000000
50%     584.000000
75%     876.000000
max    1168.000000

In [59]:
def emb_from_row(row):
    """get node embedding np array from df row"""
    return row.to_numpy().flatten()

def emb_distance(emb1, emb2):
    """computes the euclidean distance between two node embeddings"""
    return np.linalg.norm(emb1-emb2)

In [60]:
# get nx train graph
G_train = nx.from_pandas_edgelist(train, "u", "v")

In [ ]:
# compute Top-N lists for test dataset
# for each testing row
results = {}
i = 0
for index, _ in test.iterrows():
    userId = index[0]
    user_emb = emb_from_row(df.loc[userId])
    print(userId, ":\n", df.loc[userId])

    # get user's unwatched movies
    #print("len(G_train.nodes): ", len(G_train.nodes))
    friends = list(G_train[userId])
    #print("len(friends): ", len(friends))
    not_friends = df[~df.index.isin(friends+[userId])]
    #print("len(not_friends): ", len(not_friends))

    # generate user's top_list from all not_friends
    distances = {}
    top_list = SortedDict()
    for movie_id, node_row in not_friends.iterrows():
        node_emb = emb_from_row(node_row)
        dist = emb_distance(user_emb, node_emb)
        top_list[dist] = movie_id
        distances[movie_id] = dist

    results[userId] = top_list, distances
    if i % 10 == 0:
        print(f"{i}/{len(test)}")
    i += 1

0 :
 1      1.410215
2      1.055887
3      0.276106
4      0.337015
5     -0.855183
         ...
124   -0.201614
125   -0.807248
126    0.872891
127    2.338391
128    0.422456
Name: 0, Length: 128, dtype: float64
0/1169
9 :
 1      0.946139
2      0.685709
3      0.177391
4      0.417164
5     -0.351646
         ...
124   -0.092042
125   -0.542143
126    0.374990
127    1.100380
128    0.408414
Name: 9, Length: 128, dtype: float64
21 :
 1      0.920717
2      0.652974
3      0.190960
4      0.535054
5     -0.516504
         ...
124   -0.349363
125   -0.672398
126    0.508067
127    1.260896
128    0.384751
Name: 21, Length: 128, dtype: float64
25 :
 1      0.975424
2      0.824336
3     -0.129449
4      0.691837
5     -0.558628
         ...
124   -0.089560
125   -0.709257
126    0.544528
127    1.293298
128    0.517717
Name: 25, Length: 128, dtype: float64
26 :
 1      0.875037
2      0.673961
3      0.149331
4      0.560156
5     -0.443141
         ...
124   -0.167765
125   -0.701708
126    0.515655
127    1.180945
128    0.425098
Name: 26, Length: 128, dtype: float64
56 :
 1      0.954348
2      0.710516
3      0.176441
4      0.602231
5     -0.615121
         ...
124   -0.319962
125   -0.671774
126    0.583286
127    1.305466
128    0.405824
Name: 56, Length: 128, dtype: float64
67 :
 1      0.930276
2      0.644786
3      0.168324
4      0.598949
5     -0.619254
         ...
124   -0.354032
125   -0.703303
126    0.502998
127    1.306846
128    0.317898
Name: 67, Length: 128, dtype: float64
107 :
 1     -0.252619
2     -0.279323
3     -0.061448
4     -0.293565
5      0.092691
         ...
124   -0.258075
125    0.005583
126   -0.166881
127   -0.322059
128   -0.212864
Name: 107, Length: 128, dtype: float64
119 :
 1      0.879424
2      0.844903
3     -0.020908
4      0.772198
5     -0.397119
         ...
124   -0.118978
125   -0.661682
126    0.253370
127    1.410541
128    0.488339
Name: 119, Length: 128, dtype: float64
122 :
 1      0.946090
2      0.668579
3      0.253901
4      0.541585
5     -0.575060
         ...
124   -0.352898
125   -0.629988
126    0.515084
127    1.289521
128    0.343723
Name: 122, Length: 128, dtype: float64
136 :
 1      0.883217
2      1.214906
3      0.103104
4      0.971740
5     -0.744310
         ...
124   -0.398826
125    0.124079
126    0.937450
127    0.596804
128    0.097507
Name: 136, Length: 128, dtype: float64
10/1169
200 :
 1      0.934363
2      0.602172
3      0.223702
4      0.589545
5     -0.526699
         ...
124   -0.269176
125   -0.657024
126    0.518380
127    1.193569
128    0.335193
Name: 200, Length: 128, dtype: float64
203 :
 1      0.966883
2      0.577039
3      0.207963
4      0.460964
5     -0.400244
         ...
124   -0.108821
125   -0.483417
126    0.288688
127    1.151855
128    0.415315
Name: 203, Length: 128, dtype: float64
239 :
 1      0.914827
2      0.644902
3      0.209573
4      0.568758
5     -0.501516
         ...
124   -0.225207
125   -0.689724
126    0.562059
127    1.226613
128    0.414310
Name: 239, Length: 128, dtype: float64
252 :
 1      1.173574
2      0.524756
3      0.124778
4      0.488244
5     -0.372990
         ...
124   -0.505325
125   -0.801582
126    0.394105
127    1.083411
128    0.518137
Name: 252, Length: 128, dtype: float64
271 :
 1      1.052834
2      0.709535
3      0.168228
4      0.521806
5     -0.402414
         ...
124   -0.111225
125   -0.564541
126    0.367549
127    1.238331
128    0.406926
Name: 271, Length: 128, dtype: float64
277 :
 1      1.080662
2      0.666993
3      0.277555
4      0.450028
5     -0.388430
         ...
124   -0.105521
125   -0.526131
126    0.258809
127    1.299191
128    0.372985
Name: 277, Length: 128, dtype: float64
304 :
 1      0.775042
2      0.610731
3      0.085828
4      0.406196
5     -0.486188
         ...
124   -0.480332
125   -0.696295
126    0.573084
127    1.049263
128    0.368635
Name: 304, Length: 128, dtype: float64
315 :
 1      0.833926
2      0.626143
3      0.023725
4      0.440444
5     -0.598310
         ...
124   -0.558775
125   -0.643783
126    0.465631
127    1.016229
128    0.366467
Name: 315, Length: 128, dtype: float64
322 :
 1      1.188850
2      0.540404
3      0.124345
4      0.621349
5     -0.498802
         ...
124   -0.524649
125   -0.749013
126    0.414399
127    1.023362
128    0.438017
Name: 322, Length: 128, dtype: float64
348 :
 1      0.247277
2      0.337188
3     -0.146396
4     -0.457675
5      0.444111
         ...
124   -0.129460
125   -0.103579
126    0.633854
127    0.296634
128   -0.270471
Name: 348, Length: 128, dtype: float64
20/1169
353 :
 1      0.201447
2      0.099412
3     -0.028251
4     -0.526120
5      0.393934
         ...
124   -0.187355
125   -0.273843
126    0.498590
127    0.085261
128   -0.195539
Name: 353, Length: 128, dtype: float64
363 :
 1      0.162217
2      0.032580
3      0.006280
4     -0.501898
5      0.344060
         ...
124   -0.118151
125   -0.106902
126    0.704345
127    0.043886
128   -0.147799
Name: 363, Length: 128, dtype: float64
366 :
 1      0.169149
2      0.045945
3      0.165915
4     -0.288216
5      0.372764
         ...
124   -0.122191
125   -0.115060
126    0.612170
127    0.111799
128   -0.110850
Name: 366, Length: 128, dtype: float64
370 :
 1      0.180520
2      0.185076
3      0.016706
4     -0.502163
5      0.167667
         ...
124   -0.091859
125   -0.200951
126    0.556633
127    0.058519
128   -0.086779
Name: 370, Length: 128, dtype: float64
373 :
 1      0.134164
2      0.096659
3     -0.080519
4     -0.573179
5      0.199327
         ...
124   -0.147066
125   -0.273612
126    0.528289
127    0.135067
128   -0.131420
Name: 373, Length: 128, dtype: float64
374 :
 1      0.090199
2      0.074784
3      0.080001
4     -0.530338
5      0.147357
         ...
124   -0.172252
125   -0.256775
126    0.778075
127    0.068370
128   -0.074942
Name: 374, Length: 128, dtype: float64
376 :
 1      0.174428
2      0.055374
3     -0.009695
4     -0.507965
5      0.141255
         ...
124   -0.278081
125   -0.279193
126    0.471315
127    0.231338
128   -0.250522
Name: 376, Length: 128, dtype: float64
378 :
 1      0.259964
2      0.016531
3     -0.003034
4     -0.558523
5      0.208767
         ...
124   -0.119117
125   -0.246025
126    0.734846
127    0.059495
128   -0.182152
Name: 378, Length: 128, dtype: float64
391 :
 1      0.222078
2      0.054966
3      0.064340
4     -0.531019
5      0.233415
         ...
124   -0.153679
125   -0.194182
126    0.596464
127    0.156477
128   -0.070114
Name: 391, Length: 128, dtype: float64
395 :
 1      0.237197
2      0.298389
3     -0.005502
4     -0.394161
5      0.139231
         ...
124   -0.232859
125   -0.095858
126    0.568850
127    0.147407
128    0.000067
Name: 395, Length: 128, dtype: float64
30/1169
400 :
 1      0.229959
2      0.181898
3      0.076782
4     -0.416998
5      0.224898
         ...
124   -0.164212
125   -0.253653
126    0.647686
127    0.167507
128   -0.051589
Name: 400, Length: 128, dtype: float64
402 :
 1      0.210141
2      0.146878
3      0.076532
4     -0.456766
5      0.203373
         ...
124   -0.074168
125   -0.093078
126    0.850767
127    0.131726
128   -0.159319
Name: 402, Length: 128, dtype: float64

In [ ]:
N = 10

# counters
hits = 0
misses = 0

for userId in results.keys():
    (top_list, distances) = results[userId]

    # get Top-N friend suggestions
    top_N = top_list.values()[:N]

    # get user's test friend
    test_friend = test.query(f"u == {userId}").index.get_level_values('v')[0]

    # evaluate
    hit = test_friend in top_N
    if hit:
        hits += 1
    else:
        misses += 1

    print(f"Friend suggestion {test_friend} {'found' if hit else 'not found'} in user {userId}'s Top-{N} list: ", top_N)

In [ ]:
print("hits: ", hits)
print("misses: ", misses)