In [89]:
import sys
sys.path.append('../')

from IPython.core.display import display
import numpy as np
import pandas as pd

In [90]:
# import node embeddings
df = pd.read_csv(
    "./movie_ratings/movie_ratings_alpha-0.1_beta-0.1_ws-10_neg-5_lr-0.025_icom-99_ind-99_k-100_ds-0.0.txt",
    sep="\t| ",
    header=None
)
df = df.rename(columns={0: 'node'})

/Users/anton/miniconda3/envs/MT/lib/python3.6/site-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """

In [91]:
# import ratings
ratings = pd.read_csv("movie_ratings/movie_ratings.csv")
# import test
test = pd.read_csv("movie_ratings/movie_ratings_test.csv", index_col=0)

In [92]:
# node embeddings
display(df.head())
display(df.describe())

,node,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
0,1,0.017255,-0.014337,0.192036,-0.222628,0.327770,0.299692,-0.125977,0.069819,-0.186855,...,-0.084296,-0.422604,0.431959,0.426305,-0.370798,0.115638,-0.450964,-0.027164,-0.123626,-0.324357
1,2,0.140821,0.438964,0.205919,-0.032144,0.027903,0.286724,0.147996,-0.109285,-0.351523,...,0.015793,-0.292778,0.175085,0.246609,-0.266091,0.021651,0.133873,-0.016711,-0.160067,-0.469002
2,3,-0.168504,0.527044,0.344568,-0.111838,0.040233,0.170690,-0.147194,-0.223272,0.088621,...,-0.307309,-0.221391,0.065576,0.076140,-0.283813,0.232568,-0.039443,0.148100,-0.369995,-0.497061
3,4,0.015583,-0.210334,0.297835,-0.074934,0.118399,-0.286261,-0.418940,-0.106137,-0.020894,...,0.041337,-0.287994,-0.100775,0.726359,-0.088118,0.294219,-0.113482,-0.022776,-0.318247,-0.150065
4,5,-0.136543,0.239739,0.257819,-0.437307,0.001001,0.196781,0.048071,0.020122,-0.136704,...,-0.573853,-0.250213,0.129583,0.075273,-0.273440,-0.213483,-0.117163,0.314794,-0.367967,-0.397165

,node,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
count,6325.000000,6325.000000,6325.000000,6325.000000,6325.000000,6325.000000,6325.000000,6325.000000,6325.000000,6325.000000,...,6325.000000,6325.000000,6325.000000,6325.000000,6325.000000,6325.000000,6325.000000,6325.000000,6325.000000,6325.000000
mean,24289.992727,-0.111422,0.110745,0.072024,-0.118635,0.127478,0.138736,0.018908,-0.032209,0.035102,...,0.066064,-0.173470,0.097064,0.197983,-0.078634,-0.045096,-0.079732,-0.003587,-0.088073,-0.142125
std,36543.813244,0.184624,0.180154,0.170464,0.175585,0.181788,0.180103,0.183292,0.163417,0.180166,...,0.200514,0.170845,0.170641,0.168712,0.191665,0.171420,0.168680,0.157411,0.167601,0.168278
min,1.000000,-0.962409,-0.506082,-0.517343,-0.780928,-0.628886,-0.510092,-0.728804,-0.631015,-0.614673,...,-0.586972,-0.780203,-0.504854,-0.467396,-0.770520,-0.776069,-0.864866,-0.650282,-0.819247,-0.744917
25%,2112.000000,-0.241810,-0.007748,-0.042502,-0.234461,0.000164,0.014605,-0.104847,-0.145271,-0.090769,...,-0.078270,-0.286435,-0.021520,0.076822,-0.196425,-0.150234,-0.187576,-0.102455,-0.194036,-0.257103
50%,4658.000000,-0.113007,0.102852,0.064216,-0.135364,0.117948,0.138708,0.029607,-0.021753,0.033471,...,0.062582,-0.165707,0.088360,0.203982,-0.070509,-0.040411,-0.073444,0.000048,-0.085112,-0.138225
75%,37384.000000,0.016079,0.231577,0.184666,-0.002733,0.254484,0.263047,0.143551,0.079358,0.172319,...,0.197903,-0.057376,0.220040,0.309879,0.048148,0.072928,0.033386,0.094001,0.027099,-0.023047
max,163949.000000,0.552065,0.750327,0.759574,0.607040,0.966547,0.956420,0.666286,0.583418,0.880508,...,0.721668,0.411708,0.744248,0.874157,0.551821,0.550281,0.514349,0.626439,0.533104,0.505449

In [93]:
# ratings df
display(ratings.head())
display(ratings.describe())

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

              userId        movieId         rating     timestamp
count  100004.000000  100004.000000  100004.000000  1.000040e+05
mean      347.011310   12548.664363       3.543608  1.129639e+09
std       195.163838   26369.198969       1.058064  1.916858e+08
min         1.000000       1.000000       0.500000  7.896520e+08
25%       182.000000    1028.000000       3.000000  9.658478e+08
50%       367.000000    2406.500000       4.000000  1.110422e+09
75%       520.000000    5418.000000       4.000000  1.296192e+09
max       671.000000  163949.000000       5.000000  1.476641e+09

In [94]:
# test df
display(test.head())
display(test.describe())

     userId  movieId  rating   timestamp  is_test
4         1     1172     4.0  1260759205     True
21        2       17     5.0   835355681     True
101       3      318     5.0  1298862121     True
148       4       34     5.0   949919556     True
368       5      597     5.0  1163373711     True

           userId        movieId      rating     timestamp
count  671.000000     671.000000  671.000000  6.710000e+02
mean   336.000000    1404.698957    4.975410  1.100543e+09
std    193.845299    8360.597945    0.127222  2.105644e+08
min      1.000000       1.000000    4.000000  8.282124e+08
25%    168.500000      29.000000    5.000000  9.389921e+08
50%    336.000000     135.000000    5.000000  1.064891e+09
75%    503.500000     525.500000    5.000000  1.282805e+09
max    671.000000  135887.000000    5.000000  1.476478e+09

In [95]:
# compute Top-N lists for test dataset
for i, row in test.iterrows():
    userId = row['userId']
    emb = df[df['node'] == userId]
    print(emb) #TODO: I messed up. users and movies start at min id=1 :(
    break

   node         1         2         3         4        5         6         7  \
0     1  0.017255 -0.014337  0.192036 -0.222628  0.32777  0.299692 -0.125977

          8         9  ...       119       120       121       122       123  \
0  0.069819 -0.186855  ... -0.084296 -0.422604  0.431959  0.426305 -0.370798

        124       125       126       127       128
0  0.115638 -0.450964 -0.027164 -0.123626 -0.324357

[1 rows x 129 columns]