In [1]:
import sys
sys.path.append('../../')

from IPython.core.display import display
import numpy as np
import pandas as pd
import networkx as nx
from sortedcontainers import SortedDict

In [7]:
# import node embeddings
df = pd.read_csv(
    "./karate_club_alpha-0.1_beta-0.1_ws-10_neg-5_lr-0.025_icom-362_ind-362_k-5_ds-0.0.txt",
    sep="\t| ",
    header=None
)
df = df.rename(columns={0: 'node'})
df.set_index(['node'], inplace=True)
df

/Users/anton/miniconda3/envs/MT/lib/python3.6/site-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """

             1         2
node
0    -0.005211 -1.090077
1     0.234183 -0.874326
2     0.490883 -0.682946
3     0.169664 -0.959395
4    -0.221307 -1.477360
5    -0.356060 -1.700488
6    -0.310993 -1.730003
7     0.166877 -0.969558
8     0.706476 -0.545441
9     0.813209 -0.513318
10   -0.232803 -1.459659
11    0.052465 -1.170051
12    0.122514 -1.033933
13    0.352971 -0.795364
14    1.451908 -0.372086
15    1.431855 -0.357774
16   -0.412848 -2.036346
17    0.099156 -1.039841
18    1.406106 -0.381833
19    0.357884 -0.748953
20    1.522635 -0.361033
21    0.179045 -0.984934
22    1.413654 -0.391335
23    1.661324 -0.374435
24    1.256188 -0.407276
25    1.329393 -0.365966
26    1.552133 -0.354065
27    1.124270 -0.442584
28    0.953360 -0.477570
29    1.658902 -0.348751
30    0.661464 -0.590565
31    0.954997 -0.445263
32    1.299765 -0.392564
33    1.119008 -0.406907

In [6]:
# import predicted labels
labels = pd.read_csv("./labels_pred.txt", header=None)
labels = labels.rename(columns={0: 'label'})
labels.label = labels.astype(int)
labels

    label
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       1
9       1
10      0
11      0
12      0
13      0
14      1
15      1
16      0
17      0
18      1
19      0
20      1
21      0
22      1
23      1
24      1
25      1
26      1
27      1
28      1
29      1
30      1
31      1
32      1
33      1

In [8]:
df = df.join(labels)

In [10]:
# node embeddings
display(df)
display(df.describe())

             1         2  label
node
0    -0.005211 -1.090077      0
1     0.234183 -0.874326      0
2     0.490883 -0.682946      0
3     0.169664 -0.959395      0
4    -0.221307 -1.477360      0
5    -0.356060 -1.700488      0
6    -0.310993 -1.730003      0
7     0.166877 -0.969558      0
8     0.706476 -0.545441      1
9     0.813209 -0.513318      1
10   -0.232803 -1.459659      0
11    0.052465 -1.170051      0
12    0.122514 -1.033933      0
13    0.352971 -0.795364      0
14    1.451908 -0.372086      1
15    1.431855 -0.357774      1
16   -0.412848 -2.036346      0
17    0.099156 -1.039841      0
18    1.406106 -0.381833      1
19    0.357884 -0.748953      0
20    1.522635 -0.361033      1
21    0.179045 -0.984934      0
22    1.413654 -0.391335      1
23    1.661324 -0.374435      1
24    1.256188 -0.407276      1
25    1.329393 -0.365966      1
26    1.552133 -0.354065      1
27    1.124270 -0.442584      1
28    0.953360 -0.477570      1
29    1.658902 -0.348751      1
30    0.661464 -0.590565      1
31    0.954997 -0.445263      1
32    1.299765 -0.392564      1
33    1.119008 -0.406907      1

               1          2      label
count  34.000000  34.000000  34.000000
mean    0.676561  -0.773000   0.529412
std     0.672893   0.467923   0.506640
min    -0.412848  -2.036346   0.000000
25%     0.133605  -1.021683   0.000000
50%     0.683970  -0.568003   1.000000
75%     1.321986  -0.391642   1.000000
max     1.661324  -0.348751   1.000000

In [15]:
def emb_from_row(row):
    """get node embedding np array from df row"""
    return row.drop('label').to_numpy().flatten()

def emb_distance(emb1, emb2):
    """computes the euclidean distance between two node embeddings"""
    return np.linalg.norm(emb1-emb2)

In [13]:
# get nx train graph
G = nx.karate_club_graph()

# DEBUG remove some edges for karate_club
print("PRE NUM_OF_EDGES: ", G.number_of_edges())
G.remove_edge(33, 23)
G.remove_edge(0, 1)
G.remove_edge(32, 30)
print("POST NUM_OF_EDGES: ", G.number_of_edges())

PRE NUM_OF_EDGES:  78
POST NUM_OF_EDGES:  75

In [26]:
test_users = [33, 0, 32]

# compute Top-N lists for test dataset
# for each testing row
results = {}
for i, userId in enumerate(test_users):
    if not userId in df.index: continue
    user_label = df.loc[userId].label
    print("user_label: ", user_label)
    user_emb = emb_from_row(df.loc[userId])
    print("user_emb: ", user_emb)

    # get user's non_friends in user's community
    users_in_community = df[df.label == user_label].index
    print("len(users_in_community): ", len(users_in_community))
    not_friends_in_community = df[~df.index.isin(friends+[userId])]
    #print("len(not_friends): ", len(not_friends))

    # generate user's top_list from all not_friends
    distances = {}
    top_list = SortedDict()
    for movie_id, node_row in not_friends.iterrows():
        node_emb = emb_from_row(node_row)
        dist = emb_distance(user_emb, node_emb)
        top_list[dist] = movie_id
        distances[movie_id] = dist

    results[userId] = top_list, distances
    print(f"{i}/{len(test_users)}")

user_label:  1.0
user_emb:  [ 1.1190075  -0.40690675]
len(users_in_community):  18
0/3
user_label:  0.0
user_emb:  [-0.00521125 -1.0900768 ]
len(users_in_community):  16
1/3
user_label:  1.0
user_emb:  [ 1.2997648  -0.39256394]
len(users_in_community):  18
2/3

In [ ]:
N = 10

# counters
hits = 0
misses = 0

for userId in results.keys():
    (top_list, distances) = results[userId]

    # get Top-N friend suggestions
    top_N = top_list.values()[:N]

    # get user's test friend
    test_friend = test.query(f"u == {userId}").index.get_level_values('v')[0]

    # evaluate
    hit = test_friend in top_N
    if hit:
        hits += 1
    else:
        misses += 1

    print(f"Friend suggestion {test_friend} {'found' if hit else 'not found'} in user {userId}'s Top-{N} list: ", top_N)

In [ ]:
print("hits: ", hits)
print("misses: ", misses)