In [1]:
import sys
sys.path.append('../../')

from IPython.core.display import display
import numpy as np
import pandas as pd
from sortedcontainers import SortedDict

In [2]:
# import node embeddings
df = pd.read_csv(
    "./movie_ratings_alpha-0.1_beta-0.1_ws-10_neg-5_lr-0.025_icom-206_ind-206_k-100_ds-0.0.txt",
    sep="\t| ",
    header=None
)
df = df.rename(columns={0: 'node'})
df.set_index(['node'], inplace=True)

/Users/anton/miniconda3/envs/MT/lib/python3.6/site-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """

In [3]:
# import ratings
ratings = pd.read_csv("./movie_ratings_unique.csv")
ratings.set_index(['userId', 'movieId'], inplace=True)
# import test
test = pd.read_csv("./movie_ratings_test.csv", index_col=0)
test.set_index(['userId', 'movieId'], inplace=True)

In [4]:
# node embeddings
display(df.head())
display(df.describe())

,1,2,3,4,5,6,7,8,9,10,...,119,120,121,122,123,124,125,126,127,128
node,,,,,,,,,,,,,,,,,,,,,
2,-0.308762,0.098974,-0.245587,0.424734,-0.534265,-0.242575,0.257119,0.040960,-0.117750,-0.053173,...,-0.177020,0.066940,0.453468,-0.038968,0.159571,-0.081401,0.390820,0.194385,0.063349,-0.252067
3,-0.273524,-0.107615,-0.269887,0.264508,0.020065,-0.113513,-0.147588,-0.355677,0.018933,0.140679,...,0.005843,-0.086279,0.148112,-0.381536,-0.167795,0.437124,0.239364,0.036150,-0.207161,-0.279669
4,-0.084964,-0.034894,0.043311,-0.035493,-0.145349,-0.348867,-0.199865,-0.384744,0.094511,0.055395,...,-0.243541,0.197078,0.302467,-0.001396,-0.041610,0.202704,-0.256665,0.215160,0.089959,-0.103987
5,-0.225072,0.089834,0.016027,0.047704,0.298841,-0.129375,0.317334,-0.097228,0.121188,-0.022962,...,-0.351949,-0.498018,0.465731,0.122407,0.002795,-0.013012,0.028776,0.274983,-0.004458,-0.384384
6,0.077986,0.151719,-0.022957,-0.112094,-0.082675,-0.454298,-0.137162,-0.089500,0.057956,0.003579,...,-0.257253,-0.045414,0.267109,-0.059046,0.007127,0.107992,0.002877,0.194426,0.102571,-0.272264

,1,2,3,4,5,6,7,8,9,10,...,119,120,121,122,123,124,125,126,127,128
count,3727.000000,3727.000000,3727.000000,3727.000000,3727.000000,3727.000000,3727.000000,3727.000000,3727.000000,3727.000000,...,3727.000000,3727.000000,3727.000000,3727.000000,3727.000000,3727.000000,3727.000000,3727.000000,3727.000000,3727.000000
mean,-0.211893,0.146356,-0.084014,0.088436,-0.091640,-0.091354,-0.157548,-0.119663,0.075533,-0.116033,...,-0.188025,-0.141642,0.096064,-0.003288,0.002670,0.046230,0.125281,0.208782,0.027511,-0.161429
std,0.167406,0.162469,0.173241,0.193647,0.179042,0.171601,0.178893,0.159232,0.177815,0.167535,...,0.186317,0.169230,0.166666,0.178383,0.183314,0.173767,0.160584,0.196889,0.174470,0.185833
min,-0.814226,-0.408676,-1.244608,-0.562879,-0.720151,-0.628977,-0.856720,-0.725366,-0.524310,-0.736966,...,-0.853803,-0.818848,-0.438042,-0.705130,-0.660262,-0.522802,-0.515613,-0.464914,-0.509620,-0.720470
25%,-0.329090,0.034677,-0.196145,-0.040586,-0.208421,-0.208813,-0.285545,-0.231821,-0.039950,-0.227262,...,-0.311954,-0.255814,-0.008065,-0.116846,-0.132197,-0.079476,0.017718,0.073074,-0.090684,-0.285543
50%,-0.209427,0.141369,-0.080684,0.099497,-0.086656,-0.101008,-0.159802,-0.122097,0.078628,-0.113865,...,-0.187002,-0.133427,0.095272,-0.001065,0.002642,0.043300,0.130540,0.223623,0.010908,-0.163047
75%,-0.098060,0.253759,0.031513,0.207099,0.022259,0.025868,-0.037058,-0.009354,0.195437,0.004584,...,-0.069110,-0.025960,0.206091,0.120951,0.133342,0.173926,0.240098,0.345463,0.148880,-0.036963
max,0.520041,0.903764,0.466222,0.885834,0.521659,0.459800,0.448255,0.417626,0.669514,0.387226,...,0.602499,0.497861,0.616371,0.522508,0.923479,0.689037,0.654508,0.873804,0.632028,0.467345

In [5]:
# ratings df
display(ratings.head())
#display(ratings.describe())

# test df
display(test.head())
#display(test.describe())

                Unnamed: 0  rating   timestamp
userId movieId
1      1031              0     2.5  1260759144
       2029              1     3.0  1260759179
       2061              2     3.0  1260759182
       2129              3     2.0  1260759185
       2172              4     4.0  1260759205

                rating   timestamp  is_test
userId movieId
2      1017        5.0   835355681     True
3      1318        5.0  1298862121     True
4      1034        5.0   949919556     True
5      1597        5.0  1163373711     True
6      1293        5.0  1108134539     True

In [6]:
# remove test edges from ratings
print("len(ratings): ", len(ratings))
print("len(test): ", len(test))
ratings = ratings[~ratings.index.isin(test.index)]
print("len(ratings): ", len(ratings))

len(ratings):  100004
len(test):  644
len(ratings):  99360

In [7]:
def emb_from_row(row):
    """get node embedding np array from df row"""
    return row.to_numpy().flatten()

def emb_distance(emb1, emb2):
    """computes the euclidean distance between two node embeddings"""
    return np.linalg.norm(emb1-emb2)

In [8]:
# get dataframe with movie embeddings
print("len(df): ", len(df))
userIds = ratings.index.get_level_values(level="userId").unique()
print("len(userIds): ", len(userIds))
df_movies = df[~df.index.isin(userIds)]
print("len(df_movies): ", len(df_movies))

len(df):  3727
len(userIds):  671
len(df_movies):  3113

In [ ]:
# compute Top-N lists for test dataset
# for each testing row (for each user)
results = {}
for i, test_row in test.iterrows():
    userId = i[0]
    if not userId in df.index: continue # for users with only one rating
    user_emb = emb_from_row(df.loc[userId])

    # get user's unwatched movies
    #print("len(df_movies): ", len(df_movies))
    movies_watched = ratings.query(f"userId == {userId}").index.get_level_values("movieId")
    #print("len(movies_watched): ", len(movies_watched))
    df_movies_unwatched = df_movies[~df_movies.index.isin(movies_watched)]
    #print("len(df_movies_unwatched): ", len(df_movies_unwatched))

    # generate user's top_list from all unwatched movies
    distances = {}
    top_list = SortedDict()
    for movie_id, node_row in df_movies_unwatched.iterrows():
        node_emb = emb_from_row(node_row)
        dist = emb_distance(user_emb, node_emb)
        top_list[dist] = movie_id
        distances[movie_id] = dist

    results[userId] = top_list, distances
    if userId % 10 == 0: print(f"{userId}/{len(test)}")

10/644
20/644
30/644
40/644
60/644
70/644
80/644
90/644
100/644
110/644
120/644
130/644
150/644
160/644
180/644
190/644
200/644
220/644
230/644
240/644
250/644
260/644
270/644
280/644
290/644
300/644
320/644
330/644
340/644
350/644
360/644
370/644
380/644
390/644
400/644
410/644
420/644
430/644
440/644
450/644
460/644
480/644
490/644
500/644
510/644
520/644
530/644
550/644
560/644
570/644
580/644
590/644

In [ ]:
ratings.loc[14]

In [ ]:
N = 50

# counters
hits = 0
misses = 0

for userId in results.keys():
    (top_list, distances) = results[userId]

    # get Top-N movies to watch
    top_N = top_list.values()[:N]

    # get user's test movie
    test_movie = test.query(f"userId == {userId}").index.get_level_values('movieId')[0]

    # evaluate
    hit = test_movie in top_N
    if hit:
        hits += 1
    else:
        misses += 1

    print(f"Movie {test_movie} {'found' if hit else 'not found'} in user {userId}'s Top-{N} list: ", top_N)

In [ ]:
print("hits: ", hits)
print("misses: ", misses)